<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Test Suite">

    <test name="EcoMart Automation Tests">

        <classes>

            <class name="tests.RegistrationTest"/>

            <class name="tests.LoginTest"/>

            <class name="tests.LogoutTest"/>

            <class name="tests.ProductListingTest"/>

            <class name="tests.ValidateCartItemsTest"/>

            <class name="tests.CheckoutTest"/>

        </classes>
    </test>



</suite>
